@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 320px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --color-note-yellow: #fff9c3;
  --color-light-blue: #409df9;
  --color-light-blue-hover: #5ba9ff;
  /* Forms */
  --color-primary: #3b82f6;
  --color-destructive: #e93d3d;
  --color-background: #ffffff;
  --color-foreground: #0f1729;
  --color-card: #ffffff;
  --color-card-foreground: #0f1729;
  --color-popover: #ffffff;
  --color-popover-foreground: #0f1729;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #1e293b;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #1e293b;
  --color-destructive-foreground: #f8fafc;
  --color-border: #e2e8f0;
  --color-input: #d8d8d9;
  --color-ring: #3b82f6;
  --color-radius: 0.5rem;
  --color-chart-1: #f97316;
  --color-chart-2: #10b981;
  --color-chart-3: #0f4257;
  --color-chart-4: #eab308;
  --color-chart-5: #f97316;
}

  .dark {
    --color-background: #0f1729;
    --color-foreground: #ffffff;
    --color-card: #1e293b;
    --color-card-foreground: #ffffff;
    --color-popover: #1e293b;
    --color-popover-foreground: #ffffff;
    --color-primary: #3b82f6;
    --color-primary-foreground: #ffffff;
    --color-secondary: #334155;
    --color-secondary-foreground: #ffffff;
    --color-muted: #334155;
    --color-muted-foreground: #ffffff;
    --color-accent: #334155;
    --color-accent-foreground: #ffffff;
    --color-destructive: #e93d3d;
    --color-destructive-foreground: #ffffff;
  }


@layer base {
  a {
    @apply text-light-blue hover:text-light-blue-hover hover:underline;
  }
}

.light .light-icon {
  display: block;
}

.light .dark-icon {
  display: none;
}

.dark .light-icon {
  display: none;
}

.dark .highlighted-text {
  background-image: none;
}